body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
  font-weight: 400;
}

/* Headings */
.main-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #A1DD70;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Nav bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: 200;
}

/* Title section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.iphone {
  width: 62.5%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
  }
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  line-height: 2;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icons {
  color: #96bb7c;
  margin-bottom: 1rem;
}

.icons:hover {
  color: #A1DD70;
}

/* Testimonials */
#testimonials {
  background-color: #96bb7c;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to action */
/* Footer */
.social-icons {
  color: #8f8f8f;
  margin: 20px 10px;
}
